.emptyText {
  color: #64748b;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--padding-content-block);
}

.table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  max-width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 620px;
}

.headerLine {
  display: grid;
  grid-template-columns: 1fr 170px 110px 40px;
  min-height: 50px;
  background-color: #f5f7f6;
}

.headerCell {
  display: flex;
  align-items: center;
  padding-inline: 16px 5px;
  padding-block: 5px;
  background-color: #f5f7f6;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid lightgray;
  overflow: hidden;

  &:nth-last-child(1) {
    border-right: none;
    padding-inline: 6px;
  }
}

.headerCellText {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.dataRow {
  display: grid;
  grid-template-columns: 1fr 170px 110px 40px;
  min-height: 50px;
  min-width: 620px;

  &:nth-last-child(1) {
    .dataCell {
      border-bottom: none;
    }
  }

  &:hover {
    .dataCell {
      transition: background-color 0.1s linear;
      background-color: #f5fafe;
    }
  }
}

.dataCell {
  display: flex;
  align-items: center;
  gap: 6px;
  border-right: 1px solid lightgray;
  overflow: hidden;
  padding-inline: 16px 5px;
  padding-block: 5px;
  color: #333333;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid lightgray;

  &:nth-last-child(1) {
    border-right: none;
    padding-inline: 6px;
  }
}

.cellName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.cellCode {
  color: #64748b;
}

.actionButton {
  padding: 4px 6px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  line-height: 0;

  &:hover {
    background-color: #e2e8f0;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.grandTotal {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
