.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-content-block);
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.fieldLabel {
  font-weight: 500;
}

.fieldValue {
  font-size: 14px;
  color: var(--text-color-main);
}

.productsSection {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-content-block);
}

.productsTitle {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
