.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: var(--padding-content-block);
  border: 1px solid #e8e8e8;
  border-radius: var(--border-radius-main);
  text-decoration: none;
  transition: border-color 0.2s linear;
  overflow: hidden;
}

.item:hover {
  border-color: #242424;
}

.content {
  flex: 1;
  min-width: 0;
}

.question {
  font-size: 14px;
  color: var(--text-color-main);
}

.productName {
  font-size: 13px;
  color: #0075f2;
}

.date {
  font-size: 12px;
  color: #8a8999;
  flex-shrink: 0;

  @media (max-width: 360px) {
    display: none;
  }
}
