.purchaseRow {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.purchaseField {
  flex: 1;
}

.fillAllButtonText {
  @media (max-width: 500px) {
    display: none;
  }
}

.pricesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;

  @media (max-width: 880px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.instruction {
  font-size: 14px;
  color: #64748b;
  line-height: 1.5;
  gap: 8px;
}

.rangeTextError {
  color: indianred;
}

.instructionLink {
  color: #0075f2;
}

@media (max-width: 880px) {
  .root {
    padding: 20px;
    border-radius: 8px;
    column-gap: 20px;
  }
}

@media (max-width: 500px) {
  .root {
    padding: 16px;
  }
}
