.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.title {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
