.layoutHeader {
  height: 104px;
  border-bottom: 1px solid #d4d9e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 40px;

  @media (max-width: 800px) {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
}

.layoutHeaderSelectDivision {
  background-color: #f4f6f9;
  padding: 16px;
  color: #a3a3a3;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 16px;

  svg {
    transform: rotate(180deg);
  }
}

.LayoutHeaderLeftSideTile {
  font-size: 32px;
}

.LayoutHeaderRightSide {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.connectTitle {
  font-weight: 600;
  color: lightcoral;
}

.connectTitleGreen {
  color: lightgreen;
}

.layoutHeaderSvgContainer {
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
