.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-content-block);
}

.fieldLabel {
  font-weight: 500;
}

.fieldValue {
  font-size: 14px;
  color: var(--text-color-main);
}

.statusCompleted {
  font-weight: 700;
  color: #16a34a;
}

.statusActive {
  font-weight: 700;
  color: #e65100;
}

.statusCancelled {
  font-weight: 700;
  color: #c62828;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
