.content {
  row-gap: 12px;
}

.subtitle {
  font-size: 14px;
  color: #696969;
  font-weight: 500;
}

.table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 700px;
}

.headerLine {
  display: grid;
  grid-template-columns: 1fr 90px 150px 100px;
  min-height: 50px;
  background-color: #f5f7f6;
}

.headerCell {
  display: flex;
  align-items: center;
  padding-inline: 16px 5px;
  padding-block: 5px;
  background-color: #f5f7f6;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid lightgray;
  overflow: hidden;

  &:nth-last-child(1) {
    border-right: none;
  }
}

.headerCellText {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.dataCell {
  display: flex;
  border-right: 1px solid lightgray;
  overflow: hidden;
  padding-inline: 16px 5px;
  padding-block: 18px 5px;
  color: #333333;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid lightgray;

  & p {
    max-width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:nth-last-child(1) {
    border-right: none;
    padding-inline: 16px;
  }
}

.dataCellStocks {
  overflow: hidden;
  color: #333333;
  font-size: 14px;
  background-color: white;
}

.stockItem {
  display: grid;
  grid-template-columns: 149px 100px;
  align-items: center;
  height: 50px;

  &:nth-last-child(1) {
    border-bottom: 1px solid lightgray;
  }
}

.dataRow {
  display: grid;
  grid-template-columns: 1fr 90px 250px;
  min-height: 50px;
  min-width: 700px;

  &:nth-last-child(1) {
    .dataCell {
      border-bottom: none;
    }
    .dataCellStocks {
      border-bottom: none;
      .stockItem {
        &:nth-last-child(1) {
          border-bottom: none;
        }
      }
    }
  }

  &:hover {
    .dataCell {
      transition: background-color 0.1s linear;
      background-color: #f5fafe;
    }
    .dataCellStocks {
      transition: background-color 0.1s linear;
      background-color: #f5fafe;
    }
  }
}

.productName {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.productNameEmpty {
  display: block;
}

.warehouseName {
  color: #666;
  font-size: 13px;
  white-space: nowrap;
}

.link {
  color: #1a73e8;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.cellInput {
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  padding-inline: 4px;
  cursor: pointer;
  padding-block: 4px;
  height: 24px;

  &:focus {
    cursor: default;
    border: 1px solid lightgray;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.stockName {
  padding-right: 5px;
  text-wrap: nowrap;
}

.stockItemCell {
  padding-inline: 16px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stockItemCellInput {
  display: flex;
  padding-inline: 16px 5px;
  border-left: 1px solid lightgray;
  height: 100%;
  align-items: center;
}
