.root {
  display: flex;
  gap: var(--gap-info-block);
  align-items: center;

  @media (max-width: 500px) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.searchInputContainer {
  flex: 1 1 auto;

  @media (max-width: 500px) {
    width: 100%;
    flex: auto;
  }
}

.buttonLink {
  overflow: hidden;
}
